{% extends "page.html" %}
{% block content %}
<h1>Editing {{ name }}</h1>
<form action="?submit={{ name }}" method="post">
    <textarea name="content" style="width: 100%; height: 50vh">{{ content }}</textarea>
    <br>
    <input type="text" placeholder="Summary of changes here" name="summary">
    <button type="submit">Edit</button>
</form>
{% endblock %}
