{% extends "page.html" %}
{% block content %}

<h1>Revisions of {{ name }}</h1>

<pre>
{{ diff | e }}
</pre>

<table>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Author</th>
            <th>Time</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
{% for commit in log %}
        <tr>
            <td><a href='?diff={{ commit.count() }}'>diff</a></td><td>{{ commit.author.name | e }}</td><td>{{ commit.committed_datetime }}</td><td>{{ commit.summary | e }}</td>
        </tr>
{% endfor %}
{% endblock %}
