<html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"></head><body>
<a href="/">Go back to home</a> | <a href="/wiki.py?edit={{ name }}">Edit this page</a> | <a href="/wiki.py?log=.">Recent Changes</a> | <a href="/wiki.py?log={{ name }}.md">Revisions of this file</a>

{% block content %}
<h1>{{ name }}</h1>
{{ content }}
{% endblock %}
</body></html>
